.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.car-image {
  height: 170px;
}

.GPS {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.driver {
  margin-bottom: 14px;
}

.card-content {
  padding: 18px;
}

.subtitle.is-6 {
  margin-top: 0px;
  margin-bottom: 4px;
  color: gray;
}

.canvas{
  background-image: radial-gradient(black, #30343A);
  /* background-color: hsl(0, 0%, 21%); */
  /* background-color: #30343A; */
}

.color-dark {
  background-color: transparent !important;
}

.card {
  background-color: transparent;
  box-shadow: 0 5px 10px #282c34, 0 0 0 1px #282c34;
}

.title {
  color: white;
}

.speed {
  color: white;
  font-size: 30em;
}

.big {
  line-height:1;
}

.km {
  font-size: 8em;
}

.lap {
  font-size: 800%;
  color:white;
  margin-top: auto;
}

body {
  height: 110%;
  overflow: hidden;
  overflow-y: hidden;
  background-color: black; 
}

html {
  background: #282c34;
  overflow:hidden;
}

.column {
  overflow-y: hidden;
  padding-bottom: 6px;
}

.chartjs-render-monitor {
  max-height: 300px;
}

.control-button {
  width: 70px;
}

.numInside {
  list-style: inside;
  list-style-type: decimal;
}

.driverDash {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:-1;
  background-image: url(background/dark-paths/dark-paths.png);
  background-color: #61dafb;
  overflow: hidden;
  height: 110%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.groundDash {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:-1;
}

.toggleButton {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 5%;
  background: transparent;
  border: 0px;
  outline:none;
}

/* option:checked {
  display: none;
} */